/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PPTelegraf";
    src: url("/assets/fonts/PPTelegraf-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: 'Breathing';
    src: url("/assets/fonts/Breathing.ttf");
  }
}
